APP_ENV=local
VITE_DEV_MODE=false
VITE_DEV_SERVER=http://node:5173
VITE_DEV_SERVER_PORT=5173

INERTIA_SSR_ENABLED=true
INERTIA_SSR_URL=http://node:13714/render
INERTIA_SSR_TIMEOUT=2

VITE_INPUT=resources/js/demo/entries/client.tsx
VITE_OUT_DIR=public/build
VITE_SSR_OUT_DIR=bootstrap/ssr
VITE_SSR_PORT=13714

VITE_SHELL_PAGE_PATHS=resources/js/pages
