LIBRA_API_JWT_PRIVATE_KEY_PATH=/var/www/secure/private.key
LIBRA_API_JWT_PUBLIC_KEY_PATH=/var/www/secure/public.key
LIBRA_API_JWT_KEY_ID=2024-01

APP_ENV=local
VITE_DEV_MODE=false
VITE_DEV_SERVER=http://node:5173
VITE_DEV_SERVER_PORT=5173

INERTIA_SSR_ENABLED=true
INERTIA_SSR_URL=http://node:13714/render
INERTIA_SSR_TIMEOUT=2

VITE_INPUT=resources/js/app/entries/client.tsx
VITE_OUT_DIR=local/assets/libra.shell/build
VITE_SSR_OUT_DIR=local/assets/libra.shell/ssr
VITE_SSR_PORT=13714

VITE_SHELL_PAGE_PATHS=resources/js/pages,../../libra-shell/resources/js/pages
VITE_SHELL_EXTRA_PAGE_DIR=../../libra-shell/resources/js/pages
